/*$font-text: 'Barlow', sans-serif;
$font-heading: 'Merriweather', serif;
$font-size: 20px;
$line-height: 30px;

$theme-dark: #405363;
$theme-light: #005065;
$color-link: #005E6E;

$primary-color: #005264;
$secondary-color: #3c5462;
$third-color: #EEDF7B;*/
